<div class="row">
  <div class="col-md-4">
    <h3>Meeting_type</h3>
    <%= render 'application/entity_control_links', entity: @meeting_type %>
    <%= render 'application/entity_timestamps', entity: @meeting_type %>

    <table class="table">
      <tr>
        <td nowrap>
          <strong>Name:</strong>
        </td>
        <td nowrap>
          <%= @meeting_type.name %>
        </td>
      </tr>
    </table>

  </div>
</div>
