<div style="height: 400px;width: 100%;">
  <iframe src="<%= polymorphic_path(document_templateable, action: :download, format: :pdf) %>"
     frameborder="0"
     style="overflow:hidden;height:100%;width:100%"
     height="100%" width="100%">
   </iframe>
</div>
