<tr>
  <td nowrap><%= link_to court_date.client_file, court_date.client_file %></td>
  <td nowrap><%= link_to court_date.formatted_court_date, court_date %></td>
  <td nowrap><%= court_date.court %></td>
  <td nowrap><%= court_date.court_date_type %></td>
</tr>
