<table class="table" id="meeting_table">
  <thead>
  <th>Precognition document</th>
  </thead>
  <tbody>
  <%= render partial: 'precognitions/table_row', locals: {precognition: precognition} %>
  </tbody>
</table>
