<div class="row">
  <div class="col-md-4">
    <h3>Notification</h3>
    <%= render 'application/entity_control_links', entity: @notification %>
    <%= render 'application/entity_timestamps', entity: @notification %>

    <table class="table">
      <tr>
        <td nowrap>
          <strong>Entity:</strong>
        </td>
        <td nowrap>
          <%= @notification.entity %>
        </td>
      </tr>
      <tr>
        <td nowrap>
          <strong>Singed up users:</strong>
        </td>
        <td nowrap>
          <ul class="list-unstyled">
            <% @notification.users.each do |user| %>
                <li><%= link_to user, user %></li>
            <% end %>
          </ul>
        </td>
      </tr>
    </table>

  </div>
</div>
