<div class="tab-content">

  <%= render 'application/side_tab_panel', collection: @item_charge_rates, collection_class: ItemChargeRate, active: true  %>

</div>

<ul class="nav nav-tabs" role="tablist">

  <%= render 'application/side_tab', collection_class: ItemChargeRate, active: true %>

</ul>
