<h1>Editing <%= singular_table_name.humanize %></h1>

<%%= render 'form' %>

<%%= link_to 'Show', @<%= singular_table_name %> %> |
<%%= link_to 'Back to <%= plural_table_name.humanize %>', <%= index_helper %>_path %>
