<div class="row">
  <div class="col-md-4">
    <h3>Jurisdiction</h3>
    <%= render 'application/entity_control_links', entity: @jurisdiction %>
    <%= render 'application/entity_timestamps', entity: @jurisdiction %>

    <table class="table">          <tr>
            <td nowrap>
            <strong>Name:</strong>
            </td>
            <td nowrap>
            <%= @jurisdiction.name %>
            </td>
          </tr>    </table>

  </div>
</div>
