<div class="row">
  <div class="col-md-4">
    <h3>Location_type</h3>
    <%= render 'application/entity_control_links', entity: @location_type %>
    <%= render 'application/entity_timestamps', entity: @location_type %>

    <table class="table">
      <tr>
        <td nowrap>
          <strong>Name:</strong>
        </td>
        <td nowrap>
          <%= @location_type.name %>
        </td>
      </tr>
    </table>
  </div>
</div>
